########################################################################################################################
# Original Author : Reg Map Generation Tool (v{{script_version}})
# File Path       : {{ filename }}
# Item Number     : {{ len }}
#
# Please don't edit this manually!!!
########################################################################################################################
{% for _item in items %}
{{ '{}'.format(_item) }}
{% endfor %}